* {
  box-sizing: border-box;
}
img {
  width: 100%;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 0 auto;
  margin-right: 0 auto;
}
.fa-github-square{
  color: #fff;
  display:inline-block;
  width: 20px;
  height: 20px;
}
  .navbar-light {
  ul {
    margin: 0;
    padding: 16px;
    list-style: none;
    border: 10px;
  }

  li {
    display: inline-block;
    font-size: 14px;

  }

  a {
    display: block;
    padding: 1px 45px;
    text-decoration: none;
    color: #0d0d0d;
  }
}

footer {
  display: flex;
}

.footer-left{
  display: flex;
  list-style: none;
}

.footer-right{
  display: flex;
  list-style: none;
}

.org-pic{
  width: 33px;
}
input.repo-search{
  width: 50%;
  display: inline-flex;
}

.badge-success{
  width: 70px;
}

.repo-language-color{
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 1px;
    width: 12px;
    font-size:14px;
}
