* {
  box-sizing: border-box;
}
img {
  width: 100%;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 0 auto;
  margin-right: 0 auto;
}
.fa-github-square{
  color: #fff;
  display:inline-block;
  width: 10px;
  height: 10px;
}
  .navbar-light {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 1px 45px;
    text-decoration: none;
  }
}

footer {
  display: flex;
}

.footer-left{
  display: flex;
  list-style: none;
}

.footer-right{
  display: flex;
  list-style: none;
}
.repository{
  padding-left: 400px;
}
.fa-github-square{
  display:inline-flex;
}
